html, body {
  margin: 0;
  padding: 0;
  background: #c9c9c9; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#content {
  width: 1000px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 20px;
  background: #fff; }
  #content img {
    width: 100%;
    height: auto;
    cursor: pointer; }
  #content img + img {
    width: 33%;
    height: 179px;
    display: inline-block; }

#wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  #wrapper.active {
    display: block; }

.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #f0f0f0;
  font-size: 30px;
  cursor: pointer;
  z-index: 50; }
  .close:hover {
    color: #ff0000; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

#gallery__nav {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  #gallery__nav .gallery__nav__prev {
    position: absolute;
    font-size: 50px;
    color: #f0f0f0;
    cursor: pointer;
    top: calc(50% - 15px);
    left: 20px;
    z-index: 50; }
    #gallery__nav .gallery__nav__prev:hover {
      color: #ff0000; }
  #gallery__nav .gallery__nav__next {
    position: absolute;
    font-size: 50px;
    color: #f0f0f0;
    cursor: pointer;
    top: calc(50% - 15px);
    right: 20px;
    z-index: 50; }
    #gallery__nav .gallery__nav__next:hover {
      color: #ff0000; }

.viewport {
  margin: 100px auto;
  width: 80%;
  height: 80%;
  overflow: hidden; }

.gallery {
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  -o-transition: transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear; }

.gallery__item {
  float: left;
  position: relative;
  height: 100%; }
  .gallery__item img {
    width: 100%;
    height: 100%; }

.gallery__item__title {
  position: absolute;
  bottom: 10px;
  color: #fff;
  width: 400px;
  text-align: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  left: calc(50% - 200px);
  border-radius: 50px; }

.gallery__item {
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }
