.footer{
  grid-area: footer;
  background:var(--heading-color);
  position:relative;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer:before{
    content: '';
    position: absolute;
    display: block;
    left: -100%;
    right:100%;
    bottom:0;
    height:100px;
    background:var(--heading-color);
}

.footer:after{
    content: '';
    position: absolute;
    display: block;
    right: -100%;
    left: 100%;
    bottom:0;
    height:100px;
    background:var(--heading-color);
}

.footer__info{
    color: white;
    width: 55%;
    font-size: 0.9rem;
}

.footer__socials{
    display: flex;
    margin-left: 25px;
}

.footer__socialItem{
    display: block;
    line-height: 40px;
    width:40px;
    text-align: center;
    background: var(--blue);
    opacity: 0.9;
    color:white !important;
    border-radius: 50%;
    transition: all .5s;
    position: relative;
    z-index: 10;
    margin-left: 15px;
}

.footer__socialItem:hover{
    opacity: 1;
    transform: scale(1.2);
    transition: all .5s;
}
