$primary-color: #fff; /* white color */
$secondary-color: #0d0d0d; /* black color */
$element-primary-color: #f39c12; /* light oranfge color */
$element-secondary-color: #e74c3c; /* dark orange color */
$font_family: 'Open Sans', sans-serif;
$gray_font: #595959;

body, html {
  background:$primary-color;
  color: $secondary-color;
}

.container {
  max-width: 1170px;
}

/*----------------------- Header zone ------------------------------ */

header {
  background: url('img/header-bg.jpg') no-repeat;
  background-size:cover;
  color: $primary-color;
}

.header-shading {
  background-color: rgba( 52, 73, 94, 0.7 );
  width:100%;
  overflow:hidden;
}

.navbar{
  margin-top:80px;
  padding: 0 !important;
  & a {
    color: $primary-color;
    font-size:15px;
    font-family: $font_family;
    font-weight:600;
    text-transform:uppercase;
  }
  & a:hover {color: $secondary-color;}
}

.nav-link {
  padding:0 !important;
}

.nav-item:not(:last-child){
  margin-right:40px;
}

.sep:after{
  content: "\\\\";
  color:$primary-color;
  margin-left:40px;
}

.slider1 {
  padding-top: 220px;
  margin-bottom:180px;
}

.header-text-1{
  text-align:center;
  text-transform:uppercase;
  font-family: $font_family;
  font-size: 33px;
  margin-bottom:0;
}

.header-text-2{
  text-align:center;
  text-transform:uppercase;
  font-family: $font_family;
  font-size: 52px;
  font-weight:700;
  margin-bottom:0;
}

.header-text-3{
  text-align:center;
  text-transform:uppercase;
  font-family: $font_family;
  font-size: 30px;
  margin-bottom:90px;
}

.btn-primary {
  display:block !important;
  margin: 0 auto;
  width:160px;
  height:42px;
  margin-bottom:130px;
  background:none !important;
  border: 2px solid $primary-color !important;
  border-radius:0 !important;
  font-family: $font_family;
  font-weight:600 !important;

  &:hover {
    background:$element-primary-color !important;
    border: 2px solid $element-primary-color !important;
  }

}

.carousel-indicators li {
   width:10px !important;
   height:10px !important;
   border-radius:50%;
}

/*----------------------- About company ------------------------------ */

section{
  margin: -110px 0;
  padding: 180px 0;
  overflow:hidden;
}

.rotate-container{
  width:100%;
  position:relative;
}

.rotate-container:before{
position: absolute;
left: -10px;
top:-130px;
width: 110%;
height: 120px;
padding: 0 10px;
content: '';
background: $primary-color;
-webkit-transform: rotate3d(0,0,1,-3deg);
transform: rotate3d(0,0,1,-3deg);}

.about-company {
  position:relative;
  z-index:5;
}

.about{
  padding:0 75px;
  display:flex;
  margin-bottom: 150px;
}

.about-h1 {
  font-size:23px;
  font-family: $font_family;
  font-weight:700;
  text-transform:uppercase;
  line-height:48px;
  border-right: 4px solid $element-primary-color;
  padding-right:20px;
  margin-right:20px;
}

.about-text{
  font-family: $font_family;
  color: $gray_font;
}

/*----------------------- Our story ------------------------------ */

.our-story{
  display:flex;
  padding-bottom:125px;
  margin-bottom:125px;
  border-bottom: 1px solid $gray_font;
}

.our-story-icon {
  font-size:41px;
  width:127px;
  height:127px;
  line-height:127px;
  border: 2px solid $element-primary-color;
  border-radius: 50%;
  text-align:center;
  margin-right:30px;
}

.our-story-text{
  width:505px;
  margin-right:55px;
}

.our-story-h1 {
  font-size:15px;
  font-family: $font_family;
  font-weight:700;
  text-transform:uppercase;
}

.our-story-subtitle {
  color: $element-secondary-color;
  font-family: $font_family;
}

.our-story-txt{
  color: $gray_font;
  font-family: $font_family;
}

.our-story-img {
  background: $element-secondary-color;
  flex-grow:1;
  display:flex;
  & i {
    margin: auto auto;
    font-size:34px;
    color: $primary-color;
  }
}
