.sidebar{
  grid-area: sidebar;
}

.sidebarNavblock{
  list-style-type: none;
  padding:0;
  margin:0;
}

.sidebarNavblock li a {
    display: block;
    background:rgba(255,255,255,0.6);
    padding: 10px 20px;
    margin-bottom:5px;
    border: 1px solid #e6ecf5;
    color:#222;
    font-weight: 200;
    text-transform: uppercase;
}
