html, body {
  padding:0;
  margin:0;
  background:#fff;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  line-height:20px;
  box-sizing:border-box;
  color:#313131;
}

*{
  box-sizing: border-box;
}

.container{
  width:1200px;
  margin: 0 auto;
}

/*----------------------- Header ------------------------------ */

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width:1200px;
  margin: 10px auto;
}

.contact-info__phone_number{
  font-size:24px;
  font-weight:300;
}

.contact-info__mail{
  font-size:17px;
  margin-top:10px;
}

.header__address{
  display:flex;
  justify-content: space-between;
  width:245px;
  & img{
    width:17px;
    height:22px;
    margin-right:10px;
    margin-top:3px;
  }
}

.address__text{
  font-size:18px;
  line-height:26px;
}

.header__buttons{
  display:flex;
  flex-direction: column;
  align-content: space-between;
}

.buttons__feedback{
  background: #595d59;
  display:flex;
  width:188px;
  height:36px;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  color:#fff;
  &:hover{
    background: #494b49;
  }
}

.buttons__track{
  background: #9b9ea0;
  display:flex;
  width:188px;
  height:36px;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  color:#fff;
  margin-top:5px;
  &:hover{
    background: #87898a;
  }
}

.header__calc{
  background:#ffe552;
  width:270px;
  height:77px;
  display:flex;
  justify-content: space-between;
  padding:10px 15px;
  color:#f7f7f7;
  text-decoration:none;
  font-size:14px;
  line-height:18px;
  & img{
    margin-right:15px;
  }
  &:hover{
    background:#f7d722;
    color:#323131;
  }
}

.calc__text{
  display:flex;
  align-items: center;
}

/*----------------------- Menu ------------------------------ */

nav{
  background:#f7f7f7;
}

#mobile-menu{
  display:none;
}

#nav-arrow{
  display:none;
}

#nav{
  display:flex;
  justify-content:space-between;
  list-style-type: none;
  padding:0;
  margin:0;
}

.nav__item{
  position:static;
  & > a{
    text-decoration:none;
    font-size:13px;
    text-transform:uppercase;
    font-weight:500;
    color:#313131;
    height:60px;
    vertical-align: middle;
    display:flex;
    align-items: center;
    }
  &:hover:after{
    content: '';
    position:relative;
    display:block;
    width:0;
    height:0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #595d59;
    margin-top: -15px;
    margin-left: calc(50% - 15px);
    z-index:1000;
  }
  &.mainpage:after{
    display:none;
  }
  &:hover .nav__item__subnav{
    height:170px;
    transition: height 500ms ease-in-out;
    padding: 20px 0;
  }
}

.nav__item__subnav{
  position:absolute;
  height: 0;
  overflow:hidden;
  left:0;
  right:0;
  padding:0;
  margin:0;
  background:#595d59;
  z-index:1000;
  list-style-type: none;
}

.subnav__wrap{
  display:flex;
  height:100%;
}

.subnav__wrap__col1, .subnav__wrap__col2, .subnav__wrap__col3{
  width:33.33%;
  display:flex;
  flex-direction:column;
}

.subnav__item{
  display:flex;
  height:25%;
  & a{
    font-size:15px;
    color:#fff;
  }
}

.nav-arrow{
  display:none;
}

/*----------------------- Slider ------------------------------ */

#slider {
    width: 100%;
}

#slider__viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    user-select: text;
    text-align: center;
}

#slider__wrapper {
    position: relative;
    width: calc(100% * 3);
    transition: 1s;
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
    display:flex;
}

#slider__wrapper, #slider__wrapper ul, #slider__wrapper li {
    margin: 0;
    padding: 0;
}

.slider-elem {
    width: calc(100%/3);
    position:relative;
    list-style: none;
    display: inline;
    float: left;
}

.slide__block{
  position:absolute;
  color:#fff;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
}

.slide__block__text1{
  text-align: left;
  font-size:56px;
  text-transform:uppercase;
  line-height:70px;
  font-weight:900;
}

.slide__block__text2{
  text-align: left;
  font-size:62px;
  line-height:70px;
  font-weight:300;
}

.slide__block__text3{
  text-align: left;
  font-size:38px;
  line-height:60px;
  font-weight:500;
}

.slide-img {
    width: 100%;
}

#slider__nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 4px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}

/*----------------------- Block 1 ------------------------------ */

.b1__title{
  padding:80px 0;
  text-align:center;
  font-size:36px;
  font-weight: 300;
}

.b1__flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom:80px;
}

.b1__flex__item{
  position:relative;
  color:#fff;
  :hover{
    text-decoration: underline;
  }
}
.b1__wrapper{
  width:100%;
  height:100%;
  position:absolute;
  display:flex;
  align-items: center;
  padding:0 30px;
  & img {
    width:77px;
    height:76px;
  }
}

.b1__item__text{
  text-transform:uppercase;
  font-weight:500;
  font-size: 27px;
  line-height:32px;
  margin-left:20px;
}

/*----------------------- Delivery countries ------------------------------ */

.b-countries{
  background: url('img/del-countries-bg.jpg') no-repeat;
  background-size: cover;
  width:100%;
  padding: 100px 0;
}

.b-countries__title{
  color:#fff;
  font-weight:300;
  font-size:48px;
  text-align:center;
  margin-bottom:70px;
}

.b-countries__flex{
  display:flex;
  justify-content: space-between;
  height:275px;
  align-content:space-between;
  flex-wrap: wrap;
}

.b-countries__block{
  color:#2e2e2e;
  text-decoration:none;
  &:hover{
    text-decoration: underline;
  }
}

.b-countries__bg{
  background:#fff;
  padding:0 30px;
  width:223px;
  height:78px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  & img{
    margin-right:30px;
    width:47px;
    height:31px;
  }
}

.b-countries__block-text{
  font-size:12px;
  font-weight:300;
  line-height: 16px;
}

.b-countries__block-country{
  font-size:18px;
  font-weight:400;
  line-height: 30px;
}

/*----------------------- About company ------------------------------ */

.about-company-h{
  font-size:36px;
  margin-top:80px;
  margin-bottom:40px;
  font-weight:300;
  line-height:36px;
}

.about-company-sep{
  background:#ffe552;
  width:75px;
  height:4px;
  margin-left:10px;
}

.about-company__b1{
  display:flex;
  justify-content: space-between;
}

.about-company__b1__text{
  width:730px;
  margin-right:40px;
  display:flex;
  align-items:flex-end;
  font-weight:300;
  line-height:22px;
}

.about-company__b2__text{
  font-weight:300;
  line-height:24px;
  margin-bottom:-40px;
}

.about-company__b2__flex{
  display:flex;
  justify-content: space-between;
}

.about-company__b2__elem{
  display:flex;
  align-items:center;
  & img{
    margin-right:15px;
    width:70px;
    height:70px;
  }
}

.about-company__b2__elem__text{
  width:195px;
  font-weight:300;
  line-height:24px;
}

.about-company__b3{
  background:#f7f7f7;
  margin-top:60px;
  padding:35px;
  & h3 {margin-top:0;}
  & ol {
    margin: 30px 0 0 0;
    padding-left:20px;
    & li{
      font-weight:500;
      color:#dec015;
      margin-bottom:15px;
      font-size:18px;
      & span {
        font-size:16px;
        font-weight:300;
        color:#313131;
        margin-left:20px;
      }
    }
  }
}

.about-company__b4{
  font-weight:300;
  line-height:24px;
}

.about-company__b5__flex{
  display:flex;
  justify-content: space-between;
}

.about-company__b5__item{
  width:265px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom:60px;
  & img {
    margin:0 auto;
  }
}

.about-company__b5__item__text{
  text-align:center;
  font-weight: 300;
  height:90px;
  line-height:24px;
  margin-top:30px;
}

.banners{
  display:flex;
  justify-content: space-between;
  margin:60px 0;
}

/*----------------------- Footer ------------------------------ */

footer{
  background: url('img/footer-bg.jpg') no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.footer__flex{
  display:flex;
  justify-content: space-between;
  padding-bottom:40px;
  border-bottom:2px solid #616365;
  & ul {
    list-style:none;
    margin: 10px 0;
    padding:0;
    & li a{
      color:#fff;
      text-decoration:none;
      line-height:28px;
    }
  }
}

.footer__tel{
  margin-top:20px;
  color:#fff;
  font-weight:300;
  font-size:22px;
  text-decoration:none;
}

.footer__flex2{
  display: flex;
  justify-content: space-between;
  margin-top:40px;
  font-size:13px;
  font-weight:300;
  & div{
    color:#fff;
    & a{
      color:#bcbcbc;
      text-decoration: none;
    }
  }
}

/*----------------------- Adaptive ------------------------------ */

@media (max-width: 1010px) {

  .container {
    width:100%;
    padding:0 10px;
    overflow:hidden;
  }
  .header{
    flex-wrap:wrap;
    width:100%;
    padding:0 10px;
    overflow:hidden;
  }

  .header__buttons{
    flex-direction: row;
  }

  .buttons__track{
    margin: 0 0 0 10px;
  }

  .header__calc{
  }

  #nav{
    flex-direction: column;
    display:none;
  }

  .display-toggle{
    display:block !important;
  }

  .nav__item{
    background:#595d59;
    margin:0 -10px;
    border-bottom:1px solid #7a7c7a;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    & a{
      color:#fff;
      padding:0 10px;
    }
    &:hover:after{
      display:none;
    }
    &:hover .nav__item__subnav{
      height:0;
      padding:0;
    }
  }

  .mainpage{
    display:none;
  }

  #mobile-menu{
    display:flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    color: #313131;
    height: 60px;
    & img{
      margin-right:20px;
    }
  }

  .nav-arrow{
    display:flex;
    align-items: center;
    padding:0 20px;
    height:60px;
    cursor:pointer;
  }

  .nav__item__subnav{
    position:relative;
    width:100%;
  }

  .subnav__wrap{
    flex-direction: column;
  }

  .subnav__wrap__col1, .subnav__wrap__col2, .subnav__wrap__col3 {
    width:100%;
  }

  .subnav__item{
    background:#6b6e6b;
    border-bottom:1px solid #7a7c7a;
    padding-left:30px;
    line-height: 48px;
    margin: 0 -10px;
    & a{
      text-decoration: none;
    }
  }

  .slide-img{
    width:auto;
    height:auto;
    margin:0 auto;
  }

  .b1__title{
    line-height: 40px;
  }

  .b1__flex{
    justify-content: space-around;
  }

  .b1__flex__item{
    width:49%;
    margin-bottom:10px;
    & > img{
      width:100%;
      height:100%;
    }
  }

  .b-countries__flex{
    justify-content: space-around;
    height:auto;
  }

  .b-countries__block{
    margin-bottom:10px;
  }

  .about-company__b1{
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .about-company__b1__text{
    width:100%;
    margin:0 0 40px 0;
  }

  .about-company__b2__flex{
    flex-wrap:wrap;
  }

  .about-company__b2__elem{
    margin:20px 0;
  }

  .about-company__b5__flex{
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .banners{
    flex-wrap:wrap;
    justify-content: space-around;
  }

  .footer__flex{
    flex-wrap: wrap;
  }

}

@media (max-width: 620px) {

.header{
  align-items: center;
  justify-content: center;
  width:100%;
  flex-direction: column;
}

.logo img, .contact-info__phone_number, .contact-info__mail,
 .header__address, .header__buttons, .buttons__feedback{
  margin-bottom:20px;
}

.header__buttons{
  flex-direction: column;
}

.buttons__track{
  margin:0;
}

.slide__block__text1{
  font-size:30px;
  line-height:45px;
}

.slide__block__text2{
  font-size:46px;
  line-height:60px;
}

.slide__block__text3{
  font-size:20px;
  line-height:45px;
}

.b1__flex{
  margin: 0 -10px;
}

.b1__wrapper{
  padding: 0 20px;
}

.b1__flex__item{
  width:100%;
}

.b1__item__text{
  font-size:22px;
}

.b-countries__title{
  line-height:60px;
}

.banners{
  margin: 60px -10px;
}

.banners__item img{
  width:100%;
  height:auto;
}

.footer__flex{
  flex-direction: column;
  align-items:center;
  & > img{
    margin-bottom:30px;
  }
  & ul{
    text-align:center;
    margin: 0;
  }
}

.footer__flex2{
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  height:60px;
}


}
