$primary-color:#fff;
$secondary-color:#7048e2;
$active-color:#8c84f9;
$active-color-alt:#a165f4;
$font-color:#151515;
$font-color-lighten:#777777;
$font-alt: 'Montserrat';

@import url('node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('fonts/montserrat/montserrat.css');
@import url('fonts/opensans/opensans.css');


/* ---- Base ---- */
html{
  scroll-behavior: smooth;
  background: $primary-color;
}

body{
  margin:0;
  padding:0;
  font-family: 'Open Sans';
  font-size:15px;
  line-height:1.5;
  text-decoration: none;
  color:$font-color;
  overflow-x: hidden;
}

*{
  box-sizing:border-box;
}

a{
  text-decoration:none;
  color: $font-color;
  &:hover{
    color: $secondary-color;
  }
}

input:active, textarea:active {outline:none;}
:focus {outline:none;}

.container{
  width:1380px;
  margin: 0 auto;
}


/*---- Banner ----*/

.banner{
  background: url('img/Layer-12.png') left bottom no-repeat;
}

.banner__bg2{
  background: url('img/Shape-9.png');
  background-size: 100% 100%;
  height:1050px;
}

.banner__container{
  padding: 80px 100px 0 100px;
}

.baner__nav{
  display:flex;
  justify-content: space-between;
}

.baner__nav__logo{
  display:block;
  background: url('img/Logo.png')no-repeat;
  background-size: auto;
  width:156px;
  height:38px;
}

.baner__nav__search{
  background: $primary-color;
  height:65px;
  padding: 0 30px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 25px #a285ee;
}

.baner__nav__search__form{
  display: flex;
  align-items: center;
}

.baner__nav__search__form__btn{
  border:none;
  background:none;
  padding: 0 15px 0 0;
  cursor: pointer;
  & img{
    width:27px;
    height:28px;
    display: block;
  }
}

.baner__nav__search__form__input{
  border:none;
  height:38px;
  width:110px;
  border-right: 1px solid #e0e0e0;
  font-family: 'OpenSans';
  font-size: 18px;
  font-weight: 600;
  color: $font-color;
}

.baner__nav__search__collection{
  display: block;
  margin-left:40px;
  font-size: 18px;
  font-weight: 600;
  color: $font-color;
  &:after{
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    margin-left: 20px;
  }
}

.banner__info{
  height:825px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner__info__block{
  width:520px;
}

.banner__info__block__title{
  font-size:100px;
  line-height: 1.1;
  font-weight: 600;
  font-family: $font-alt;
  &.white{
    color:$primary-color;
  }
}

.banner__info__block__sale{
  line-height: 1;
  font-weight: 600;
  font-family: $font-alt;
  font-size: 50px;
  text-transform: uppercase;
  color:$primary-color;
  margin: 30px 0 100px 0;
  & span {
    color:#fbf934;
  }
}

.banner__info__block__btn{
  display: block;
  background: $primary-color;
  width:200px;
  line-height: 60px;
  border-radius:60px;
  text-align: center;
  box-shadow: -5px 5px 30px rgba(189, 227, 239,0.75);
  font-size: 20px;
  font-weight: 600;
  &:after{
    content: '\f30b';
    font-family: "Font Awesome 5 Free";
    margin-left: 20px;
    color:$secondary-color;
  }
}

/*---- Trendy bags ----*/

.trendy-bags{
  background: $primary-color;
  padding: 60px 100px 100px 100px;
  margin-top:-40px;
  box-shadow: 0 -5px 50px rgba(223, 219, 255, 0.75);
  position:relative;
  &:before{
    content: url('img/shape-20.png');
    position: absolute;
    width:109px;
    height:109px;
    top:500px;
    right:-55px;
    pointer-events: none;
  }
  &:after{
    content: url('img/shape-29.png');
    position: absolute;
    width:88px;
    height:88px;
    bottom:120px;
    right:-44px;
    z-index:-1;
    pointer-events: none;
  }
}

.trendy-bags__title{
  background: url('img/trendy-bags-title-bg.png') no-repeat right top;
  height:147px;
  padding-top:25px;
  & h1{
    font-size:50px;
    font-weight: 700;
    text-align: center;
    margin:0 0 0;
    display: block;
  }
}

.trendy-bags__list{
  display:grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 64px;
  margin-top:40px;
}

.trendy-bags__item{
  padding:60px 20px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  & img{
    height:250px;
    max-width: 340px;
  }
  &:hover{
    box-shadow: 0 0 50px rgba(189, 227, 239,0.75);
    & .trendy-bags__item__counters{
      visibility: visible;
    }
    & .trendy-bags__item__btn{
      visibility: visible;
    }
  }
  &.alt{
    box-shadow: 0 0 50px rgba(189, 227, 239,0.75);
    & .trendy-bags__item__counters{
      visibility: visible;
    }
    & .trendy-bags__item__btn{
      visibility: visible;
    }
  }
}

.trendy-bags__item__title{
  font-size:18px;
  color:$font-color-lighten;
  margin-top:15px;
}

.trendy-bags__item__price{
  font-size:25px;
  font-weight: 600;
  color:$font-color;
  margin-bottom: 50px;
}

.trendy-bags__item__counters{
  position: absolute;
  display: flex;
  justify-content: space-between;
  color:lighten($font-color-lighten, 20%);
  font-size: 15px;
  visibility: hidden;
  &.bottom{
    bottom:20px;
    left:20px;
    right:20px;
  }
  &.top{
    top:20px;
    left:20px;
    right:20px;
  }
}

.trendy-bags__item__likes{
  &:before{
  content: url('img/like-ico.png');
  position:relative;
  bottom:-5px;
  margin-right:10px;
  }
}

.trendy-bags__item__comments{
  &:before{
  content: url('img/comment-ico.png');
  position:relative;
  bottom:-5px;
  margin-right:10px;
  }
}

.trendy-bags__item__btn{
  position:absolute;
  bottom:-30px;
  background: #fefcea;
  background: linear-gradient(to top right, $active-color, $active-color, $active-color-alt, $active-color-alt);
  border:none;
  border-radius:60px;
  width:200px;
  line-height: 60px;
  font-size: 20px;
  color:$primary-color;
  cursor: pointer;
  visibility: hidden;
}

.trendy-bags__shape-1{
  background:url('img/shape-16.png');
  position: absolute;
  width:91px;
  height:91px;
  bottom:100px;
  left:-47px;
  pointer-events: none;
}

.trendy-bags__shape-2{
  background:url('img/shape-18.png');
  position: absolute;
  width:144px;
  height:144px;
  top:430px;
  left:-72px;
  z-index:-1;
  pointer-events: none;
}

/*---- Our brands ----*/

.our-brands{
  background: url('img/our-brands-bg.png') right top;
  width:1260px;
  height:814px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.our-brands__block{
  width:530px;
  margin-left:50px;
  & h2{
    font-size: 50px;
    font-weight: bold;
  }
  & span{
    font-size: 25px;
    & a{
      color:$secondary-color;
    }
  }
  & p{
    color:$font-color-lighten;
  }
}

/*---- Trendy collection ----*/

.trendy-collection{
  background: $primary-color;
  padding: 60px 100px 100px 100px;
  margin-top:40px;
  margin-bottom:-80px;
  box-shadow: 0 -5px 50px rgba(223, 219, 255, 0.75);
  position:relative;
  z-index:10;
  &:before{
    content: url('img/shape-16-copy.png');
    position: absolute;
    width:115px;
    height:115px;
    bottom:380px;
    left:-60px;
    pointer-events: none;
  }
  &:after{
    content: url('img/shape-28.png');
    position: absolute;
    width:34px;
    height:34px;
    top:480px;
    right:-15px;
    pointer-events: none;
  }
  & .trendy-bags__list{
    visibility: hidden;
    opacity: 0;
    height:0;
    margin:0;
    transition: 1s opacity;
    overflow: hidden;
    &.active{
      visibility: visible;
      opacity: 1;
      height:auto;
      overflow: visible;
    }
  }
}

.trendy-collection__title{
  background: url('img/trendy-collection-title-bg.png') no-repeat top right;
  height:156px;
  padding-top:40px;
  & h2{
    font-size:50px;
    font-weight: 700;
    text-align: center;
    margin:0 0 0;
    display: block;
  }
}

#trendy-collection__nav{
  box-shadow: 0 0 50px rgba(239, 239, 240, 0.85);
  border-radius:60px;
  display: flex;
  justify-content: space-around;
  position: relative;
  line-height: 70px;
  margin: 40px 50px;
  padding: 0 100px;
  // &:before{
  //   content: url('img/shape-19.png');
  //   position: absolute;
  //   right:120px;
  //   top:-90px;
  //   pointer-events: none;
  // }
  &:after{
    content: url('img/shape-17.png');
    position: absolute;
    left:-10px;
    top:25px;
    pointer-events: none;
  }
}

.trendy-collection__nav__item{
  font-weight: 600;
  cursor: pointer;
  transition: .5s font-size;
  &.active{
    color: $secondary-color;
    text-shadow: -2px 8px 2px rgba(213, 200, 247, 0.75);
    font-size: 20px;
    font-weight: 500;
  }
}

/*---- Newsletter ----*/

.newsletter{
  height:490px;
  background: linear-gradient(to right, $active-color, $active-color-alt);
  padding-top: 150px;
  & h2{
    margin: 0;
    background: url('img/get-notified.png') no-repeat top center;
    text-align: center;
    color: $primary-color;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    padding: 25px 0 35px 0;
  }
}

.newsletter__form{
  margin: 50px auto;
  background: $primary-color;
  max-width: 850px;
  display: flex;
  padding:10px;
  border-radius: 60px;
}

.newsletter__input{
  flex-grow: 1;
  height:50px;
  border:none;
  font-family: 'Open Sans';
  font-size: 20px;
  padding: 0 20px;
}

.newsletter__button{
  background: linear-gradient(to top right, $active-color, $active-color, $active-color-alt, $active-color-alt);
  border:none;
  width:200px;
  border-radius: 60px;
  font-weight: 500;
  font-size: 20px;
  color: $primary-color;
  cursor: pointer;
}

/*---- Footer ----*/

footer{
  margin-top:70px;
  text-align: center;
}

.footer__title{
  font-size: 40px;
  font-weight: 600;
}

.footer__nav{
  width:540px;
  margin:40px auto;
  display: flex;
  justify-content: space-between;
}

.footer__nav__item{
  font-size: 18px;
  font-weight: 600;
}

.footer__social{
  width:315px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__social__item{
  min-width:55px;
  min-height: 55px;
  border:2px solid #ecebed;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#555555;
  &:hover{
    border:1px solid #ecebed;
    color:$primary-color;
    background: linear-gradient(27deg, $active-color, $active-color-alt);
    box-shadow: -3px 8px 20px rgba(207, 207, 208, 0.75);
  }
}

.footer__copyright{
  background: #f6f5f7;
  margin-top:50px;
  padding:25px;
  line-height: 1;
  font-weight: 200;
  color:$font-color-lighten;
}

/*---- Responsive design ----*/

@media (max-width: 1500px) {

  .container{
    width:100%;
  }
  .trendy-bags__list{
    grid-template-columns: 30% 30% 30%;
  }

  .trendy-bags__item img{ max-width:100%;}

}

@media (max-width: 1199px) {

  .trendy-bags, .trendy-collection{
    padding: 60px;
  }

  .trendy-bags__list{
    grid-gap: 20px;
    grid-template-columns: 32% 32% 32%;
  }

  .our-brands{
    background-position: right top;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
  }

  .our-brands__block{
    margin:760px 50px 0 50px;
    width:100%;
    text-align: center;
  }

  #trendy-collection__nav{
    margin: 40px 0;
    padding:0;
  }

}

@media (max-width: 991px) {

  .banner__container{
    padding: 40px 30px;
  }

  .baner__nav{
    align-items: center;
  }

  .banner__info{
    justify-content: right;
  }

  .banner__info__block{
    text-align: right;
    overflow: hidden;
  }

  .banner__info__block__btn{
    float:right;
  }

  .trendy-bags__list{
    grid-gap: 30px;
    grid-template-columns: 48% 48%;
  }

  #trendy-collection__nav{
    flex-wrap: wrap;
  }

  .newsletter h2{
    background-size: contain;
    padding-top:10px;
  }

  .newsletter__form{
    margin:50px 30px;
  }

}

@media (max-width: 767px) {

  .banner__bg2{
    height:800px;
  }

  .baner__nav{
    flex-direction: column;
  }

  .baner__nav__logo{
    margin-bottom: 40px;
  }

  .banner__info{
    height:auto;
    margin-top:60px;
  }

  .banner__info__block{
    justify-content: center;
    text-align: center;
  }

  .banner__info__block__title{
    font-size: 60px;
  }

  .banner__info__block__btn{
    float: none;
    margin: auto;
  }

  .trendy-bags__title h1{
    font-size: 40px;
  }

  .trendy-collection__title h2{
    font-size: 40px;
  }

  .trendy-bags__list{
    grid-template-columns: 100%;
    grid-gap: 60px;
  }

  .our-brands{
    background-size: 1000px auto;
    margin: 50px 0;
  }

  .our-brands__block{
    margin-top:600px;
  }

  #trendy-collection__nav{
    padding: 0 40px;
    line-height: 40px;
    margin-right:-50px;
    margin-left:-50px;
  }

  .trendy-collection__nav__item{
    display: block;
    padding: 0 10px;
  }

  .footer__nav{
    width:100%;
    padding: 0 30px;
    flex-wrap: wrap;
  }

}

@media (max-width: 480px) {
  .banner{
    background-position: center bottom;
  }
  .banner__bg2{
    background-size: auto 100%;
    background-position: right top;
  }

  .our-brands{
    background-size: 800px auto;
  }

  .our-brands__block{
    margin-top: 500px;
  }

  .trendy-bags, .trendy-collection{
    padding:40px;
  }

  #trendy-collection__nav{
    border-radius: 0;
  }

  .newsletter__form{
    margin:50px 20px;
  }

  .newsletter__input{
    font-size: 15px;
  }
}

/* Iphone 5 */
@media (max-width: 390px) {

  .baner__nav__search__form__input{
    width:90px;
  }

  .baner__nav__search__collection{
    margin-left:20px;
  }

  .trendy-bags, .trendy-collection{
    padding:20px;
  }

  .our-brands{
    background-size: 700px auto;
  }

  .newsletter__input{
    font-size: 13px;
    padding: 0 10px 0 0;
  }

  .footer__nav{
    justify-content: space-around;
  }

  .footer__nav__item{
    padding: 0 10px;
    line-height: 40px;
  }

  .footer__social{
    width:100%;
    padding: 0 10px;
  }

  .footer__copyright{
    line-height: 1.5;
  }

}
