
.header{
  grid-area: header;
  background:var(--main-bg-dark);
  padding:10px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.header:before{
    content: '';
    position: absolute;
    display: block;
    right:100%;
    width: 2000%;
    height:60px;
    background:var(--main-bg-dark);
}

.header:after{
    content: '';
    position: absolute;
    display: block;
    left: 100%;
    width: 2000%;
    height:60px;
    background:var(--main-bg-dark);
}

.header a{
  color:var(--header-nav-color);
}

.header a.active{
  color:white;
}

.header a.disable{
  opacity:0.5;
}

.header ul{
  list-style-type: none;
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
}

.header ul li:not(:first-child) {
    padding: 0 20px
}

.header ul li img{
width:50px;
height:auto;
}

.navlink{
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    padding: 0 20px;
    transition: all .5s;
}

.navlink:hover{
    background: rgba(255,255,255,0.1);
    color: var(--header-nav-color) !important;
    transition: all .5s;
}

.allUsers{
    margin-left:-20px;
}

.allUsers:before{
    content: '\f0c0';
    font-family: var(--fontAwesome);
    padding-right: 10px;

}

.loginBlock{
    margin-left: auto;
    color: white;
    display:flex;
    align-items: center;
}

.profilePhoto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileName{
    margin-left:20px;
    font-size:1.2rem;
}

.settings{
    font-size: 1.3rem;
    margin-left:20px;
}

.login{
    display: flex;
    align-items: center;
}

.login:before{
    content: '\f011';
    font-family: var(--fontAwesome);
    padding-right: 10px;
    font-weight: 1.5rem;
    margin-top:2px;
}

.logout{
    border:none;
    background: transparent;
    font-size: 1.3rem;
}
