
.header{
  grid-area: header;
  background:#3f4257;
  padding:10px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.header:before{
    content: '';
    position: absolute;
    display: block;
    right:100%;
    width: 2000%;
    height:60px;
    background:#3f4257;
}

.header:after{
    content: '';
    position: absolute;
    display: block;
    left: 100%;
    width: 2000%;
    height:60px;
    background:#3f4257;
}

.header a{
  color:gold;
}

.header a.active{
  color:white;
}

.header a.disable{
  opacity:0.5;
}

.header ul{
  list-style-type: none;
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
}

.header ul li:not(:first-child) {
    padding: 0 20px
}

.header ul li img{
width:50px;
height:auto;
}

.loginBlock{
    margin-left: auto;
    color: white;
    display:flex;
    align-items: center;
}

.profilePhoto{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileName{
    margin-left:20px;
    font-size:1.2rem;
}
