body{
    padding:0;
    background:var(--body-bg);
    overflow-x: hidden;
}

a, a:visited {
    text-decoration:none;
    color:var(--link-color);
}

*{
    box-sizing: border-box;
}

.App{
    display:grid;
    width:1200px;
    margin: 0 auto;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
    grid-template-rows: 60px 1fr 100px;
    grid-template-columns: 2.5fr 9.5fr;
    grid-gap:20px;
    min-height: 100vh;
}

main{
    overflow: hidden;
}
