.post{
  background:var(--main-bg-light);
  border-radius:20px;
  margin-top:10px;
  padding:20px;
  border: var(--border);
}

.post__header{
  display:flex;
  margin-bottom:20px;
  align-items: center;
}

.post__ava{
  display:block;
  width:80px;
  height:80px;
  border-radius:50%;
  margin-right:20px;
}

.post__name{
  font-weight:bold;
  color: var(--heading-color);
}

.post__date{
  color: var(--icon-color);
  font-style: italic;
}

.post__deleteBtn{
    margin-left:auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
    border:none;
    padding:10px;
    background: none;
    font-size: 22px;
    color:var(--icon-color);
}

.post__deleteBtn:hover{
    color: var(--heading-color);
}

.post:hover .post__deleteBtn{
    visibility: visible;
    opacity: 1;
}


.post__message{
  color: #4f536d;
  line-height:22px;
  font-size:16px;
}

.post__footer{
  margin-top:20px;
  padding-top:20px;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.post__like{
    border:none;
    background: none;
    font-size: 20px;
    color:var(--icon-color);
    margin-right:10px;
    margin-top:-5px;
    transition: all .5s;
}

.post__like:hover{
    transform: scale(1.2);
    color:var(--icon-active-color);
    transition: all .5s;
}
